<div *ngIf="component">
	<md-toolbar class="primary-header" color="primary">
		<h1>{{component.name}}</h1>
	</md-toolbar>
	<div class="app-view">

		<div class="container" #container>
			<md-tab-group *ngFor="let view of component.views" (selectChange)="onSelectChange($event, tabGroup)" #tabGroup>
				<md-tab label="Вид компонента">
					<p [innerHTML]="view.desc | keepHtml"></p>
					<br>
					<iframe class="frame" #iframe frameborder="0" style="display: none;"></iframe>
					<div class="loading">Загрузка...</div>
				</md-tab>
				<md-tab label="Код компонента">
					<!--<button-->
							<!--[clipboard]="copyCode.innerHTML.trim()"-->
							<!--(clipboardCopy)="logSuccess( $event )"-->
							<!--(clipboardError)="logError( $event )">-->
						<!--Скопировать-->
					<!--</button>-->
					<!--<textarea #copyCode style="display: none;" [innerHTML]="view.code"></textarea>-->
<pre><code #code >{{view.code}}
</code></pre>
				</md-tab>
			</md-tab-group>
		</div>
	</div>
</div>