<div *ngIf="component">
	<md-toolbar class="primary-header" color="primary">
		<h1>{{component.name}}</h1>
	</md-toolbar>
	<div class="app-view">

		<div class="container" #container>
			<md-tab-group *ngFor="let view of component.views" (selectChange)="onSelectChange($event, tabGroup)" #tabGroup>
				<md-tab label="Вид компонента">
					<p class="viewer-desc" [innerHTML]="view.desc | keepHtml"></p>
					<br>
					<div class="viewer-wrapper" *ngIf="view.preview !== 'hidden'">
						<iframe class="frame" #iframe frameborder="0" style="display: none;"></iframe>
						<div class="loading">Загрузка...</div>
					</div>
				</md-tab>
				<md-tab label="Код компонента">
					<div>
						<button class="clipboard-button" color="primary" md-raised-button (click)="copyCode(textCode)">
							<md-icon>content_copy</md-icon>
							Скопировать код
						</button>
						<textarea #textCode class="clipboard-textarea">{{view.code}}</textarea>
					</div>
					<br>
<pre class="viewer-wrapper"><code #code >{{view.code}}
</code></pre>
				</md-tab>
			</md-tab-group>
		</div>
	</div>
</div>