<name>Кнопка</name>
<view>
	<desc>
		Дефолтная кнопка
	</desc>
	<tpl>
		<button class="btn btn-default">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Primary кнопка
	</desc>
	<tpl>
		<button class="btn btn-primary">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Warning кнопка
	</desc>
	<tpl>
		<button class="btn btn-warning">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Danger кнопка
	</desc>
	<tpl>
		<button class="btn btn-danger">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Белая кнопка
	</desc>
	<tpl>
		<button class="btn btn-white">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Темная кнопка
	</desc>
	<tpl>
		<button class="btn btn-dark">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Прозрачная кнопка
	</desc>
	<tpl>
		<button class="btn btn-transparent">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Широкая кнопка
	</desc>
	<tpl>
		<button class="btn btn-wide">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Маленькая кнопка
	</desc>
	<tpl>
		<button class="btn btn-sm">Текст кнопки</button>
	</tpl>
</view>
<view>
	<desc>
		Большая кнопка
	</desc>
	<tpl>
		<button class="btn btn-lg">Текст кнопки</button>
	</tpl>
</view>