<name>Карточка</name>
<view>
	<desc>
		Карточка новости. Вид придается модификатором <b>blog-post_news</b>
	</desc>
	<width>33%</width>
	<tpl>
		<a href="//www.rabota.ru/articles/career/yandex-taksi-i-uber-odna-kompaniya-4410" class="blog-post blog-post_news">
			<div class="blog-post__img">
				<div class="blog-post__img-inner" style="background-image: url(//pix.rabota.ru/blog/article/0001/01/thumb_756_article_small.jpeg);"></div>
			</div>
			<div class="blog-post__inner">
				<header class="blog-post__header">
					<div class="blog-post__title">
						<h3 title="Яндекс.Такси и Uber объединяются в одну компанию">Яндекс.Такси и Uber объединяются в одну компанию</h3>
					</div>
					<div class="blog-post__lead">Что это значит для водителей и пассажиров</div>
				</header>
				<div class="blog-post__options">
					<div class="blog-post__tags">
						<span title="Новости">Новости</span>
					</div>
					<div class="blog-post__date">13 июля</div>
				</div>
			</div>
		</a>
	</tpl>
</view>