/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, material-app, md-sidenav-container, .my-content {
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	overflow: hidden;
}
md-toolbar {
	position: relative;
	z-index: 10;
}
md-sidenav {
	padding-bottom: 72px;
	width: 240px;
	bottom: 0;
	overflow: auto;
	height: 100%;
}
.mat-sidenav-opened {
	box-shadow: 3px 0 6px rgba(0,0,0,.24)
}
.container {
	margin: 0 auto;
	max-width: 1300px;
}
.mat-tab-group {
	margin-bottom: 80px;
}
.loading {
	padding: 20px;
}
.app-view {
	font-weight: 400;
	padding: 20px 70px 70px 70px;
}
.mat-tab-label {
	font-weight: 400;
	text-transform: uppercase;
}
.mat-tab-label-active {
	opacity: 1!important;
}
.mat-tab-body {
	padding-top: 20px;
}
.primary-header h1 {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	padding: 50px;
}
.primary-header .mat-toolbar-row {
	height: auto;
}

  .docs-component-viewer-sidenav li>span {
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 47px;
      text-decoration: none;
      transition: all .3s;
      padding: 0 16px;
      position: relative;
	  color: rgba(0,0,0,.54);
	  cursor: pointer;
  }
.docs-component-viewer-sidenav li {
	border-color: rgba(0,0,0,.06);
	color: rgba(0,0,0,.54);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin: 0;
	padding: 0;
}
.docs-component-viewer-sidenav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.docs-component-viewer-sidenav h3 {
	border: none;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
	padding: 0 16px;
	background: rgba(0,0,0,.32);
	color: hsla(0,0%,100%,.87);
}

.clipboard-button .mat-icon {
	width: 19px;
	height: 19px;
	font-size: 19px;
	margin-right: 5px;
}
.clipboard-textarea {
	width: 1px;
	height: 1px;
	opacity: 0;
}
.mat-tab-header {
	margin-bottom: 20px;
}

.viewer-wrapper {
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
	margin: 4px;
	background-color: #fff;
}
.viewer-desc {
	font-size: 16px;
	line-height: 28px;
}